html, body, #MyConfig {
    /*background-color: #262626;*/
    background-color: gray;
}

#MyConfig {
    margin: 1em;
}

#MyConfig_install_EnchantedRestraintsPatch_var {
    display: flex;
    justify-content: center;
}

#MyConfig_field_install_EnchantedRestraintsPatch {
    align-self: center;
}

#MyConfig_isInstalled_var {
    display: flex;
    justify-content: center;
}

#MyConfig_field_isInstalled {
    align-self: center;
}

.d-inline {
    display: inline-block !important;
}

#MyConfig textarea {
    font-family: "Consolas", monospace !important;
}

#MyConfig textarea:focus {
    font-family: "Consolas", monospace !important;
    width: 80%;
    min-height: 20em;
}

#MyConfig input[type="button"] {
    margin-right: 0.5em;
    margin-bottom: 0.25em;
}

#startBanner {
    position: fixed;
    right: 1px;
    top: 1px;
    font-size: 1em;
    z-index: 1001;
    user-select: none;
    border: gray dashed 2px;
    color: gray;
    padding: .25em;
}
